.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffff;
  color: #6070ff;
  text-decoration: none;
  
}

li {
  list-style-type: none;
}

.nav-logo {
  position: static;
  width: 100px;
  height: 20px;
  margin-left: 61px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;    
}

.content-section {
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: 440px;
  background-position-x: 37px;
}

.content {
  padding: 80px 80px;
}

.content-text {
  position: static;
  width: 320px;
  height: 150px;
  top: 1px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content-text-p {
  position: static;
  width: 300px;
  height: 100px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
} 

.social-media {
  text-align: left;
  position: static;
  width: 117px;
  height: 2px;
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 25px;
  margin-bottom: 29px;
}

.social-align {
  padding: 0;
}

.social-media-icons {
  display: inline;
  margin-left: 4px;
}
