@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #dfe1e6;
}

h3 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #ffff;
  color: #6070ff;
  width: 100%;
  min-height: 48px;
  margin-bottom: 0;
  border: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6070ff;
  text-decoration: none;
  width: 90%;
  margin: auto;
}

.nav-logo {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  text-decoration: none;
}

.content-section {
  background-image: url(images/mobilebackground.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-color: white;
  padding: 300px 0;
  margin-bottom: 70px;
  border-bottom-left-radius: 80px;
  border: none;
}

.content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-text {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  align-items: center;
  color: #172b4d;
}

.content-text {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #172b4d;
}

.content-text-p {
  position: static;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.social-connect {
  text-align: left;
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
  list-style: none;
}

.social-align {
  padding: 0;
}

.social-media-icons {
  display: inline;
  margin-right: 15px;
}

img {
  max-width: 100%;
  cursor: pointer;
}

.nav-list {
  display: none;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: #344563;
}

.works {
  display: grid;
  gap: 50px;
}

.work-card {
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 24px;
  gap: 24px;
}

.about-section-2 {
  width: 100%;
  background-color: white;
  border-radius: 0 80px 0 0;
  margin-top: 100px;
  padding: 114px 0;
}

.align-center-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.align-center-text-2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

.about-detail-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.badges {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6070ff;
  gap: 16px;
}

.works-badge {
  text-align: start;
  padding: 0.4rem 1.2rem;
  background: #ebebff;
  border-radius: 8px;
  list-style: none;
  display: inline;
  color: var(--color-primary);
  font-size: 15px;
  font-family: 'poppins', sans-serif !important;
}

p {
  padding: 0;
  margin: 0;
}

.work-card p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.canopy {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #172b4d;
  list-style: none;
}

.dev-date {
  color: #6b778c;
  font-weight: 500 !important;
  display: flex;
  padding: 0;
}

.bullet {
  padding-left: 15px;
  color: #6b778c;
  list-style: none;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
}

li {
  list-style: none;
}

.works-content-p {
  color: var(--color-text);
  text-align: left;
}

.work-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #091e42;
}

.work-heading-2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 33px;
  color: #091e42;
}

.btn {
  width: fit-content;
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #6070ff;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
}

.lang-icon {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.lang-icon-2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.languages {
  display: flex;
  justify-content: space-between;
}

.line {
  padding: 10px;
  border-bottom: 1px solid #dfe1e6;
}

.lang-icon-3 {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
  font-family: 'Poppins', sans-serif !important;
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
}

.lang-icon-ul {
  list-style: none;
  padding: 12px;
}

.png {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
}

.png li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 30px;
}

.png-1 {
  height: 5px;
  padding: 15px;
}

.png-2 {
  height: 10px;
  padding: 15px;
}

.contact-form {
  background-image: url(images/contactform\ shapes-mobile.png);
  background-repeat: no-repeat;
  background-color: #6070ff;
  background-size: contain;
  background-position: right;
  border-top-left-radius: 80px;
  width: 100%;
  padding: 114px 0;
}

.contact-me-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
}

.contact-me-container h2 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin: 0;
}

.contact-me-container p {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  padding: 0;
}

.name {
  padding: 15px;
  border: none;
  border-radius: 8px;
}

.name::placeholder {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #172b4d;
}

.text {
  padding: 15px;
  border: none;
  border-radius: 8px;
  height: 170px;
}

.text::placeholder {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #172b4d;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 17px;
}

@media screen and (min-width: 768px) {
  nav img {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
  }

  .nav-list li {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .content {
    width: 50%;
  }

  .content-section {
    background-image: url(images/bigbackfirstpage.png);
  }

  .contact-form {
    background-image: url(images/bigbacklastpage.png);
  }

  .img {
    width: 48%;
  }

  .align-center-text {
    width: 48%;
    padding: 24px;
  }

  .work-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
  }

  .img-last {
    order: 2;
  }

  .contact-me-container {
    width: 50%;
  }

  form {
    width: 70%;
  }

  form .btn {
    margin: 0 auto;
  }

  .about-detail-left {
    width: 30%;
  }

  .lang-icon {
    width: 60%;
    gap: 40px;
  }

  .align-center-text-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .png {
    display: flex;
    flex-direction: row;
  }

  .png-1 {
    width: 15px;
    height: 10px;
  }

  .png-2 {
    width: 10px;
    height: 15px;
  }

  .png li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btn:hover {
    background-color: orange;
    color: black;
    border: 2px solid black;
  }

  h3:hover {
    transform: translate(42px, 18px);
  }

  h2:hover {
    transform: translate(20px, 10px);
  }

  .name:hover {
    transform: translate(42px, 18px);
  }

  .email:hover {
    transform: translate(42px, 18px);
  }

  .text:hover {
    transform: translate(42px, 18px);
  }
  .nav-logo {
    cursor: pointer;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: visible;
    animation-fill-mode: forwards;
  }
  
  @keyframes movedown {
    0% {
      transform: translateX(-100px);
      visibility: visible;
    }

    100% {
      transform: translateX(0);
      visibility: visible;
    }
  }
}
