@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #dfe1e6;
}

h3 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  transition: 3ms;
}

.navbar {
  background-color: transparent;
  color: #6070ff;
  width: 100%;
  min-height: 48px;
  margin-bottom: 0;
  border: none;
  position: fixed;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6070ff;
  text-decoration: none;
  width: 90%;
  margin: auto;
}

.nav-logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #6070ff;
  text-decoration: none;
}

.bar {
  display: block;
  cursor: pointer;
  padding-bottom: 40px;
}

.bar-1 {
  width: 25px;
  height: 3px;
  background-color: #6070ff;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all;
}

.content-section {
  background-image: url(images/mobilebackground.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-color: white;
  padding: 300px 0;
  margin-bottom: 70px;
  border-bottom-left-radius: 80px;
  border: none;
}

.bar.active .bar-1:nth-child(2) {
  opacity: 0;
}

.bar.active .bar-1:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

.bar.active .bar-1:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  align-items: center;
  color: #172b4d;
}

.content-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #172b4d;
}

.content-text-p {
  position: static;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.social-connect {
  text-align: left;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
  list-style: none;
}

.social-align {
  padding: 0;
}

.social-media-icons {
  display: inline;
  margin-right: 15px;
}

img {
  max-width: 100%;
  cursor: pointer;
}

.nav-list {
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  left: -100%;
  background: #6070ff;
  mix-blend-mode: multiply;
  color: #fff;
  top: 0;
  gap: 10px;
  padding-top: 70px;
}

.nav-list.active {
  left: 0;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  padding-left: 20px;
}

.menu-bar {
  display: none;
}

.works {
  display: grid;
  gap: 50px;
}

.work-card {
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 24px;
  gap: 24px;
}

.about-section-2 {
  width: 100%;
  background-color: white;
  border-radius: 0 80px 0 0;
  margin-top: 100px;
  padding: 114px 0;
}

.align-center-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.align-center-text-2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

.about-detail-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.badges {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6070ff;
  gap: 16px;
}

.works-badge {
  text-align: start;
  padding: 0.4rem 1.2rem;
  background: #ebebff;
  border-radius: 8px;
  list-style: none;
  display: inline;
  color: var(--color-primary);
  font-size: 15px;
  font-family: "poppins", sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.work-card p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.canopy {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #172b4d;
  list-style: none;
}

.dev-date {
  color: #6b778c;
  font-weight: 500;
  display: flex;
  padding: 0;
}

.bullet {
  padding-left: 15px;
  color: #6b778c;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
}

li {
  list-style: none;
}

.works-content-p {
  color: var(--color-text);
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.work-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #091e42;
}

.work-heading-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 33px;
  color: #091e42;
}

.btn {
  width: fit-content;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #6070ff;
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
}

.lang-icon {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.lang-icon-2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.languages {
  display: flex;
  justify-content: space-between;
}

.line {
  padding: 10px;
  border-bottom: 1px solid #dfe1e6;
}

.lang-icon-3 {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
}

.lang-icon-ul {
  list-style: none;
  padding: 12px;
}

.png {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
}

.png li {
  display: flex;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 30px;
}

.png-1 {
  height: 5px;
  padding: 15px;
}

.png-2 {
  height: 10px;
  padding: 15px;
}

.contact-form {
  background-image: url(images/contactform\ shapes-mobile.png);
  background-repeat: no-repeat;
  background-color: #6070ff;
  background-size: contain;
  background-position: right;
  border-top-left-radius: 80px;
  width: 100%;
  padding: 114px 0;
}

.contact-me-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
}

.contact-me-container h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin: 0;
}

.contact-me-container p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  padding: 0;
}

.name {
  padding: 15px;
  border: none;
  border-radius: 8px;
}

.name::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #172b4d;
}

.text {
  font-family: "Poppins", sans-serif;
  padding: 15px;
  border: none;
  border-radius: 8px;
  height: 170px;
}

.text::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #172b4d;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 17px;
}

.space-date {
  margin-bottom: 15px;
}

.modal-3 {
  list-style: none;
  width: 100%;
  font-family: "Poppins", sans-serif !important;
  background-color: #fff;
  color: #0011a8;
  border: 1px solid #0011a8;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 15px;
  text-align: center;
}

.modal-2 {
  list-style: none;
  background-color: #e5e5e5;
  color: #6070ff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 15px;
}

.modal-1 {
  color: #6070ff;
  display: flex;
  gap: 4px;
  padding-bottom: 20px;
  margin-top: 20px;
  font-size: 12px;
}

.column-left-1 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.pop-close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #6b778c;
}

.card-portfolio-1 {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 343px;
  height: 630px;
  padding: 24px;
  margin: 24px auto;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: scroll;
}

.card-portfolio-1 span {
  float: right;
  padding-top: 24px;
  padding-left: 24px;
}

@media screen and (min-width: 768px) {
  .work-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
  }

  .works:nth-child(odd) .work-card {
    flex-direction: row-reverse;
  }

  .pop-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #6b778c;
  }

  .forD-1 {
    align-items: center;
    margin-right: 20px;
    width: 100%;
  }

  .forM-1 {
    display: none;
  }

  .column-left-1 {
    float: left;
    width: 65%;
    padding: 10px;
  }

  .column-left-1 p {
    position: static;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0;
  }

  .column-right-1 {
    float: right;
    width: 30%;
    padding: 10px;
    height: 300px;
  }

  .modal-1 {
    color: #6070ff;
    display: flex;
    gap: 4px;
    margin-top: 20px;
    font-size: 12px;
  }

  .modal-2 {
    list-style: none;
    background-color: #e5e5e5;
    color: #6070ff;
    border: 1px solid #e5e5e5;
    font-size: 15px;
    height: 24px;
    width: 93px;
    left: 135px;
    top: 0;
    border-radius: 8px;
    padding: 4px 12px 4px 12px;
  }

  .modal-3 {
    list-style: none;
    background-color: #fff;
    font-family: "Poppins", sans-serif !important;
    color: #0011a8;
    border: 1px solid #0011a8;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 15px;
    text-align: center;
  }

  .card-portfolio-1 {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 70%;
    padding: 24px;
    margin: 24px auto;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
  }

  .card-portfolio-1 span {
    float: right;
    padding-top: 24px;
    padding-left: 24px;
  }

  .nav-list-desktop {
    display: flex;
  }

  .navbar {
    display: flex;
    background-color: #fff;
    color: #6070ff;
    width: 100%;
    min-height: 48px;
    margin-bottom: 0;
    border: none;
  }

  .nav-item {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .menu-bar {
    display: flex;
  }

  .nav-list {
    display: none;
  }

  .bar {
    display: none;
  }

  .content {
    width: 50%;
  }

  .content-section {
    background-image: url(images/bigbackfirstpage.png);
  }

  .contact-form {
    background-image: url(images/bigbacklastpage.png);
  }

  .img {
    width: 48%;
  }

  .align-center-text {
    width: 48%;
    padding: 24px;
  }

  .img-last {
    order: 2;
  }

  .contact-me-container {
    width: 50%;
  }

  form {
    width: 70%;
  }

  form .btn {
    margin: 0 auto;
  }

  .about-detail-left {
    width: 30%;
  }

  .lang-icon {
    width: 60%;
    gap: 40px;
  }

  .align-center-text-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .png {
    display: flex;
    flex-direction: row;
  }

  .png-1 {
    width: 15px;
    height: 10px;
  }

  .png-2 {
    width: 10px;
    height: 15px;
  }

  .png li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .btn:hover {
    background-color: #6070ff;
    color: #fff;
    border: 2px solid #fff;
  }

  h3:hover {
    transform: translate(42px, 18px);
  }

  h2:hover {
    transform: translate(20px, 10px);
  }

  .name:hover {
    transform: translate(42px, 18px);
  }

  .email:hover {
    transform: translate(42px, 18px);
  }

  .text:hover {
    transform: translate(42px, 18px);
  }
}

@media (max-width: 767px) {
  .forM-1 {
    width: 292px;
  }

  .forD-1 {
    display: none;
  }
}
